html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2rem !important;
}

.roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: italic;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.banner {
  background-image: url('/images/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 200px) {
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 0.9rem;
  }

  h6 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.8em;
  }

  .download-link {
    font-size: 0.8rem;
  }

  .main {
    flex-direction: column;
    flex-flow: column-reverse;
    padding: 50px 0;
  }

  .feature img {
    width: 45px;
    height: 45px;
  }

  .innovation .row {
    flex-direction: column;
    flex-flow: column-reverse;
    padding-top: 50px;
  }

  .about-us .row > div {
     width: 100%;
  }

  .nav-container {
    background-color: white;
  }
}

@media screen and (min-width: 768px) {

  .nav-container {
    background-color: transparent;
  }

  .about-us .row > div {
    flex-grow: 1;
    width: 20%;
  }

  .main {
    flex-direction: row;
    flex-flow: row;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  .innovation .row {
    flex-direction: row !important;
    flex-flow: row;
    padding-top: 0px;
  }

  .feature img {
    width: 50px;
    height: 50px;
  }
}

.download-link {
  background-color: rgb(214, 211, 211);
  padding: 0.9rem;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.innovation {
  background-image: url('/images/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-us img {
  object-fit: cover;
}
